:root {
  /* --primary: "#75A780";
  --primaryDark: "#51835C";
  --secondary: "#DDDDDD";
  --secondaryLight: "#F2F0F0";
  --black: "#2F2F2F";
  --white: "#FFFFFF"; */


  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav_menu {
  height: calc(100vh - 80px);
}

.menu-option {
  padding: 1rem;
  border: 1px solid #2F2F2F;
  border-radius: 0 8px 8px 0;
}

.menu-option:hover {
  cursor: pointer;
  background-color: #51835C;
  color: white;
  scale: 1.04;
}

.container {
 border: 1px solid red; 
}

.card {
  width: 50%;
}